

body {
    background: #ffffff;
    background: linear-gradient(to right, #ffffff, #e7eaec);
  }
.navbartop
{
    padding-left: 100px;
}


.nav-item{ 
    color: white;
    }
.nav-link :hover {
        color: cornflowerblue;
    }
    
    .card {
        margin-top: 50px;
        background-color:whitesmoke;
    }
    .card-img-top{
        margin-top: 10px;
    }
    